@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'components/button';


body {
  @apply text-xl font-font;
}

blockquote {
  @apply border-l-4 border-teal-400 px-3 font-sans mb-6;
}

.site-header {
  @apply flex flex-row items-center justify-between leading-loose;
}

.site-header-nav ul {
  @apply list-none flex items-center;
}

.site-header-nav ul a {
  @apply mr-4 text-base;
}

.site-header-nav ul button {
  @apply mr-4 text-center;
}

.cover {
  @apply bg-black;
}

.content {
  @apply bg-grey-cool-050;
}

.content-text{
  @apply max-w-5xl mx-auto flex items-center justify-between leading-loose mr-auto ml-auto;
}

h1 h2 h3 h4 h5 h6 {
  @apply font-medium text-black text-center;
}

.container-content{
    @apply  max-w-3xl mx-auto px-4;
}

.container-lg{
    @apply max-w-5xl mx-auto px-4;
}

.example-emails{
    @apply relative w-40 border bg-white bg-no-repeat block text-xs;
}

.example-emails2{
    @apply absolute;
    top: 2.25rem;
    left: 1.25rem;
}

.example-emails3{
    @apply absolute;
    top: 4.5rem;
    left: 2.5rem;
}

.bar {
    @apply h-4 w-full rounded bg-gray-200 mt-4 px-4;
}
h2{
    @apply text-black font-semibold text-2xl;
}

h3, h4, h5{
    @apply text-black font-semibold text-base;
}

p{
    @apply text-lg text-grey-cool-500;
}
